<div class="summary">
  <LinkTo @route="index" @classNames="no-print">&larr; Start a New Test</LinkTo>

  <div class="content">
    <div class="centered">
      <h1>{{results.name}}</h1>
      <h5>{{moment-format results.takenAt 'MM/DD/YYYY'}}</h5>
    </div>
  </div>
  <table class="summary">
    <tr class="column-header">
      <td class="empty" {{action 'toggleAll'}}></td>
      {{#each chart.[0] as |column colIndex|}}
        <td class="clickable" {{action 'clickColumn' colIndex}}>{{colIndex}}</td>
      {{/each}}
    </tr>
    {{#each chart as |row rowIndex|}}
      <tr>
        <td class="row-header clickable" {{action 'clickRow' rowIndex}}>{{rowIndex}}</td>
        {{#each row as |data colIndex|}}
          <td class="{{if data.isInteractive 'clickable'}} {{if data.isCorrect (unless data.isOverTime 'correct')}} {{if data.isWrongOrOverTime 'wrong'}} {{if data.isOverridden 'override'}}" onclick={{if data.isInteractive (action 'clickCell' rowIndex colIndex)}}>
            {{#if data.shouldShow}}
              {{data.prompt}} {{if data.isWrong '='}} {{if data.isWrong data.response}}
              {{#if data.isOverTime}}
                <br>
                <span class="think-time">(think time{{#if results.isExtendedTime}}*{{/if}})</span>
              {{/if}}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
  {{#if results.isExtendedTime}}
    <div class="centered">
      <i>* Extended Time</i>
    </div>
  {{/if}}
</div>

<div class="centered" class="no-print">
  <br>
  <br>
  <a href="javascript:window.print();">Print</a>
  <p>To print the test results grid with the colors, you must select the option to include backgrounds in the browser's print dialog.</p>
  <p>For example, in Chrome make sure to check the "Background graphics" option under "More settings":</p>
  <p><img src="/chrome-print.png" /></p>
</div>